<div class="event-show-wraper">
  <div class="event-show">
    <div class="event-info-wrapper">
      <div class="event-info">
        <h2>Evénement: <%= @event.title %> </h2>
        <h2>Prix du cadeau: <%= @event.price %> euros</h2>
      </div>

      <%= link_to "Modifier l'évévenement", edit_event_path(@event), id: 'button-classic' %>
    </div>


    <div class="participants-wrapper">
      <h3>Participants: </h3>
      <% @event.participants.each do |participant| %>
        <%= render 'shared/participant-card', participant: participant, event: @event %>
      <% end %>
    </div>

    <div class="add-participants-form-wrapper">
      <h3>Ajouter des participants:</h3>

      <%= form_for [@event, @participant] do |f| %>

        <div class="add-participants-form">
          <div class="field">
            <%= f.text_field :user_name, placeholder: 'Prénom', class: 'form-field' %>
          </div>

          <div class="field">
            <%= f.email_field :email, placeholder: 'Adresse mail', class: 'form-field' %>
          </div>

          <div class="actions">
            <%= f.submit "Ajouter", id: 'button-add' %>
          </div>
        <% end %>
        </div>
    </div>


    <div class="generate-link">
       <%= link_to 'Générer', generator_event_path(@event), id: 'button-create'  %>
    </div>

  </div>
</div>


