<div class="form-wrapper">
  <div class="form">
    <h2>S'enregistrer</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.text_field :user_name, placeholder: 'Prénom', class: 'form-field' %>
      </div>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'form-field' %>
      </div>

      <div class="field">
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Mot de passe', class: 'form-field' %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirmation du mot de passe', class: 'form-field' %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", id: 'button-valid' %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>




  </div>


</div>

